*{
	margin: 0px;
	padding: 0px;
}

body {
    background-color: #0D7;
}

h1 {
    color: red;
    text-align: center;
}

h2 {
    color: purple;
    text-align: center;
}

p {
    font-family: sans-serif;
    font-size: 23px;
}



button{
	background-color: black;
    color: white;
    width: 12%;
    height: 40px;
}

img {
  border-radius: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
