<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    
 <!--  1.  --> 
  <bean id="basecoach" class="Constructor.Baseball" >
     <constructor-arg ref="fortune" />
  
  </bean>   
   
   
   
   <bean id="fortune" class="Constructor.Fortune"  > </bean>
   
  
   
  
  <!--  2. -->
   <bean id="cricketcoach" class="Constructor.CricketCoach"  >
    <property name="email" value="prashant@gami.com"  ></property>
    <property name="team_name"  value="ncu" />
       <constructor-arg name="name"  value="prashant" />
 </bean> 
    
    
   
   <!-- 3 -->
   <bean id="tcoach1" class="Constructor.TennisCoach" scope="singleton">
  
   </bean>
   
  <!--    
   <bean id="tcoach2" 
   lazy-init="default"
   class="Constructor.TennisCoach" 
   scope="singleton"
   init-method="initcalled"
   destroy-method="destroycalled"
   >
   
   <property name="name" value="wprkd"  ></property>
   
   </bean> -->
   
   
   
   
   
   <bean id="tcoach2" 
   
   lazy-init="true"
   class="Constructor.TennisCoach" 
  scope="prototype"
   init-method="initcalled"
   destroy-method="destroycalled"
   >
   
  <!--  <property name="name" value="wprkd"  ></property> -->
   
   </bean>
    
   
      
    </beans>